# Aviation Accidents Analysis

You are part of a consulting firm that is tasked to do an analysis of commercial and passenger jet airline safety. The client (an airline/airplane insurer) is interested in knowing what types of aircraft (makes/models) exhibit low rates of total destruction and low likelihood of fatal or serious passenger injuries in the event of an accident. They are also interested in any general variables/conditions that might be at play. Your analysis will be based off of aviation accident data accumulated from the years 1948-2023. 

Our client is only interested in airplane makes/models that are professional builds and could potentially still be active. Assume a max lifetime of 40 years for a make/model retirement and make sure to filter your data accordingly (i.e. from 1983 onwards). They would also like separate recommendations for small aircraft vs. larger passenger models. **In addition, make sure that claims that you make are statistically robust and that you have enough samples when making comparisons between groups.**


In this summative assessment you will demonstrate your ability to:
- **Use Pandas to load, inspect, and clean the dataset appropriately.**
- **Transform relevant columns to create measures that address the problem at hand.**
- conduct EDA: visualization and statistical measures to systematically understand the structure of the data
- recommend a set of airplanes and makes conforming to the client's request and identify at least *two* factors contributing to airplane safety. You must provide supporting evidence (visuals, summary statistics, tables) for each claim you make.

### Make relevant library imports

In [83]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

## Data Loading and Inspection

### Load in data from the relevant directory and inspect the dataframe.
- inspect NaNs, datatypes, and summary statistics

In [84]:
# Load the dataset
df = pd.read_csv('/Users/karinaburgos/Documents/Flatiron/dsc-course0-m8-lab/data/AviationData.csv', encoding='latin-1', low_memory=False)
# Inspect the first few rows of the dataframe
print(df.head())

         Event.Id Investigation.Type Accident.Number  Event.Date  \
0  20001218X45444           Accident      SEA87LA080  1948-10-24
1  20001218X45447           Accident      LAX94LA336  1962-07-19
2  20061025X01555           Accident      NYC07LA005  1974-08-30
3  20001218X45448           Accident      LAX96LA321  1977-06-19
4  20041105X01764           Accident      CHI79FA064  1979-08-02

          Location        Country   Latitude   Longitude Airport.Code  \
0  MOOSE CREEK, ID  United States        NaN         NaN          NaN
1   BRIDGEPORT, CA  United States        NaN         NaN          NaN
2    Saltville, VA  United States  36.922223  -81.878056          NaN
3       EUREKA, CA  United States        NaN         NaN          NaN
4       Canton, OH  United States        NaN         NaN          NaN

  Airport.Name  ... Purpose.of.flight Air.carrier Total.Fatal.Injuries  \
0          NaN  ...          Personal         NaN                  2.0
1          NaN  ...          Personal         NaN                  4.0
2          NaN  ...          Personal         NaN                  3.0
3          NaN  ...          Personal         NaN                  2.0
4          NaN  ...          Personal         NaN                  1.0

  Total.Serious.Injuries Total.Minor.Injuries Total.Uninjured  \
0                    0.0                  0.0             0.0
1                    0.0                  0.0             0.0
2                    NaN                  NaN             NaN
3                    0.0                  0.0             0.0
4                    2.0                  NaN             0.0

  Weather.Condition  Broad.phase.of.flight   Report.Status Publication.Date
0               UNK                 Cruise  Probable Cause              NaN
1               UNK                Unknown  Probable Cause       19-09-1996
2               IMC                 Cruise  Probable Cause       26-02-2007
3               IMC                 Cruise  Probable Cause       12-09-2000
4               VMC               Approach  Probable Cause       16-04-1980

[5 rows x 31 columns]

In [85]:
# Inspect NaNs and datatypes
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88889 entries, 0 to 88888
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                88889 non-null  object
 1   Investigation.Type      88889 non-null  object
 2   Accident.Number         88889 non-null  object
 3   Event.Date              88889 non-null  object
 4   Location                88837 non-null  object
 5   Country                 88663 non-null  object
 6   Latitude                34382 non-null  object
 7   Longitude               34373 non-null  object
 8   Airport.Code            50132 non-null  object
 9   Airport.Name            52704 non-null  object
 10  Injury.Severity         87889 non-null  object
 11  Aircraft.damage         85695 non-null  object
 12  Aircraft.Category       32287 non-null  object
 13  Registration.Number     87507 non-null  object
 14  Make                    88826 non-null  object
 15  Model                   88797 non-null  object
 16  Amateur.Built           88787 non-null  object
 17  Number.of.Engines       82805 non-null  float64
 18  Engine.Type             81793 non-null  object
 19  FAR.Description         32023 non-null  object
 20  Schedule                12582 non-null  object
 21  Purpose.of.flight       82697 non-null  object
 22  Air.carrier             16648 non-null  object
 23  Total.Fatal.Injuries    77488 non-null  float64
 24  Total.Serious.Injuries  76379 non-null  float64
 25  Total.Minor.Injuries    76956 non-null  float64
 26  Total.Uninjured         82977 non-null  float64
 27  Weather.Condition       84397 non-null  object
 28  Broad.phase.of.flight   61724 non-null  object
 29  Report.Status           82505 non-null  object
 30  Publication.Date        75118 non-null  object
dtypes: float64(5), object(26)
memory usage: 21.0+ MB
None

In [86]:
# Check for NaNs
print(df.isnull().sum())

Event.Id                      0
Investigation.Type            0
Accident.Number               0
Event.Date                    0
Location                     52
Country                     226
Latitude                  54507
Longitude                 54516
Airport.Code              38757
Airport.Name              36185
Injury.Severity            1000
Aircraft.damage            3194
Aircraft.Category         56602
Registration.Number        1382
Make                         63
Model                        92
Amateur.Built               102
Number.of.Engines          6084
Engine.Type                7096
FAR.Description           56866
Schedule                  76307
Purpose.of.flight          6192
Air.carrier               72241
Total.Fatal.Injuries      11401
Total.Serious.Injuries    12510
Total.Minor.Injuries      11933
Total.Uninjured            5912
Weather.Condition          4492
Broad.phase.of.flight     27165
Report.Status              6384
Publication.Date          13771
dtype: int64

In [87]:
# Print summary statistics
print(df.describe())

       Number.of.Engines  Total.Fatal.Injuries  Total.Serious.Injuries  \
count       82805.000000          77488.000000            76379.000000
mean            1.146585              0.647855                0.279881
std             0.446510              5.485960                1.544084
min             0.000000              0.000000                0.000000
25%             1.000000              0.000000                0.000000
50%             1.000000              0.000000                0.000000
75%             1.000000              0.000000                0.000000
max             8.000000            349.000000              161.000000

       Total.Minor.Injuries  Total.Uninjured
count          76956.000000     82977.000000
mean               0.357061         5.325440
std                2.235625        27.913634
min                0.000000         0.000000
25%                0.000000         0.000000
50%                0.000000         1.000000
75%                0.000000         2.000000
max              380.000000       699.000000

## Data Cleaning

### Filtering aircrafts and events

We want to filter the dataset to include aircraft that the client is interested in an analysis of:
- inspect relevant columns
- figure out any reasonable imputations
- filter the dataset

In [88]:
# inspect relevant columns

print("Aircraft.Category unique values:")
print(df['Aircraft.Category'].value_counts())

Aircraft.Category unique values:
Aircraft.Category
Airplane             27617
Helicopter            3440
Glider                 508
Balloon                231
Gyrocraft              173
Weight-Shift           161
Powered Parachute       91
Ultralight              30
Unknown                 14
WSFT                     9
Powered-Lift             5
Blimp                    4
UNK                      2
Rocket                   1
ULTR                     1
Name: count, dtype: int64

In [89]:
print("Amateur.Built unique values:")
print(df['Amateur.Built'].value_counts())

Amateur.Built unique values:
Amateur.Built
No     80312
Yes     8475
Name: count, dtype: int64

In [90]:
print("Event.Date sample:")
print(df['Event.Date'].head())

Event.Date sample:
0    1948-10-24
1    1962-07-19
2    1974-08-30
3    1977-06-19
4    1979-08-02
Name: Event.Date, dtype: object

In [91]:
# Check for missing values
print(f"Missing values - Aircraft.Category: {df['Aircraft.Category'].isnull().sum()}")
print(f"Missing values - Amateur.Built: {df['Amateur.Built'].isnull().sum()}")
print(f"Missing values - Event.Date: {df['Event.Date'].isnull().sum()}")

Missing values - Aircraft.Category: 56602
Missing values - Amateur.Built: 102
Missing values - Event.Date: 0

In [92]:
#filter the dataset
print(f"Original shape: {df.shape}")

Original shape: (88889, 31)

In [93]:
# Filter for airplanes only
df = df[df['Aircraft.Category'] == 'Airplane']
print(f"After airplane filter: {df.shape}")

After airplane filter: (27617, 31)

In [94]:
# Filter for professional builds (Amateur.Built = 'No')
df = df[df['Amateur.Built'] == 'No']
print(f"After professional builds filter: {df.shape}")

After professional builds filter: (24417, 31)

In [95]:
# Filter for events within last 40 years
df['Event.Date'] = pd.to_datetime(df['Event.Date'], errors='coerce')
cutoff_date = pd.Timestamp.now() - pd.DateOffset(years=40)
df = df[df['Event.Date'] >= cutoff_date]
print(f"Final shape after date filter: {df.shape}")

Final shape after date filter: (21428, 31)

### Cleaning and constructing Key Measurables

Injuries and robustness to destruction are a key interest point for the client. Clean and impute relevant columns and then create derived fields that best quantifies what the client wishes to track. **Use commenting or markdown to explain any cleaning assumptions as well as any derived columns you create.**

**Construct metric for fatal/serious injuries**

*Hint:* Estimate the total number of passengers on each flight. The likelihood of serious / fatal injury can be estimated as a fraction from this.

In [96]:
#injury metrics
print("Injury columns inspection:")
print(df[['Total.Fatal.Injuries', 'Total.Serious.Injuries', 'Total.Minor.Injuries', 'Total.Uninjured']].head())

Injury columns inspection:
       Total.Fatal.Injuries  Total.Serious.Injuries  Total.Minor.Injuries  \
11898                   1.0                     1.0                   4.0
12384                   NaN                     NaN                   NaN
12683                   NaN                     NaN                   NaN
13114                  17.0                     NaN                   NaN
14259                   3.0                     2.0                   NaN

       Total.Uninjured
11898              NaN
12384              4.0
12683              4.0
13114              NaN
14259              NaN

In [97]:
#cleaning: i'm filling any missing injury values with 0 . im assuming that if the value is missing, it means there were no injuries reported.
df['Total.Fatal.Injuries'] = df['Total.Fatal.Injuries'].fillna(0)
df['Total.Serious.Injuries'] = df['Total.Serious.Injuries'].fillna(0)
df['Total.Minor.Injuries'] = df['Total.Minor.Injuries'].fillna(0)
df['Total.Uninjured'] = df['Total.Uninjured'].fillna(0)

In [98]:
#derived metric: i'm summing all of the injuries categories to estimate the total number of passengers
df['Total.Passengers'] = (df['Total.Fatal.Injuries'] +
                          df['Total.Serious.Injuries'] +
                          df['Total.Minor.Injuries'] +
                            df['Total.Uninjured'])

In [99]:
#derived metric: fatal/serious injury rate as requested by client
df['Serious_Fatal_Rate'] = (df['Total.Fatal.Injuries'] + df['Total.Serious.Injuries']) / df['Total.Passengers']
df['Serious_Fatal_Rate'] = df['Serious_Fatal_Rate'].fillna(0)  # Handle division by zero

In [100]:
print(f"Average serious/fatal injury rate: {df['Serious_Fatal_Rate'].mean():.3f}")

Average serious/fatal injury rate: 0.272

**Aircraft.Damage**
- identify and execute any cleaning tasks
- construct a derived column tracking whether an aircraft was destroyed or not.

In [101]:
#aircraft damage metrics
print("Aircraft damage columns inspection:")
print(df['Aircraft.damage'].value_counts())

Aircraft damage columns inspection:
Aircraft.damage
Substantial    16984
Destroyed       2310
Minor            812
Unknown           97
Name: count, dtype: int64

In [102]:
# cleaning: Fill missing damage values with 'Unknown'
# Rationale: Missing damage assessment likely indicates incomplete reporting
# rather than no damage, so preserve records with explicit unknown category
df['Aircraft.damage'] = df['Aircraft.damage'].fillna('Unknown')
print("Clea - Aircraft damage columns inspection:")
print(df['Aircraft.damage'].value_counts())
print(f"Missing values in Aircraft.damage after filling: {df['Aircraft.damage'].isnull().sum()}")

Clea - Aircraft damage columns inspection:
Aircraft.damage
Substantial    16984
Destroyed       2310
Unknown         1322
Minor            812
Name: count, dtype: int64
Missing values in Aircraft.damage after filling: 0

In [103]:
# derived column - Aircraft_Destroyed
# Purpose: Binary indicator (1=destroyed, 0=not destroyed) for destruction analysis
# Addresses client interest in aircraft robustness to complete loss
df['Aircraft_Destroyed'] = (df['Aircraft.damage'] == 'Destroyed').astype(int)

In [104]:
print(f"Aircraft destruction rate: {df['Aircraft_Destroyed'].mean():.3f}")
print(f"Final dataset shape: {df.shape}")

Aircraft destruction rate: 0.108
Final dataset shape: (21428, 34)

### Investigate the *Make* column
- Identify cleaning tasks here
- List cleaning tasks clearly in markdown
- Execute the cleaning tasks
- For your analysis, keep Makes with a reasonable number (you can put the threshold at 50 though lower could work as well)

In [105]:
# Initial inspection of Make column
print("Make column basic info:")
print(f"Total records: {len(df)}")
print(f"Missing values: {df['Make'].isnull().sum()}")
print(f"Unique makes: {df['Make'].nunique()}")
print("\nTop 20 most common makes:")
print(df['Make'].value_counts().head(20))

print("\nSample of Make values (first 20 unique):")
print(df['Make'].dropna().unique()[:20])

Make column basic info:
Total records: 21428
Missing values: 3
Unique makes: 1332

Top 20 most common makes:
Make
CESSNA                4867
PIPER                 2803
Cessna                2274
Piper                 1183
BOEING                1037
BEECH                 1018
Beech                  411
MOONEY                 238
Boeing                 225
CIRRUS DESIGN CORP     218
AIR TRACTOR INC        217
AIRBUS                 215
BELLANCA               158
AERONCA                149
MAULE                  144
Mooney                 125
EMBRAER                123
Air Tractor            117
LUSCOMBE                95
DEHAVILLAND             91
Name: count, dtype: int64

Sample of Make values (first 20 unique):
['Cessna' 'Lake' 'Lockheed' 'Piper' 'Grumman' 'Douglas' 'Mooney'
 'Swearingen' 'Boeing' 'Gulfstream' 'Beech' 'Helio' 'Airbus Industrie'
 'Univair' 'Maule' 'Taylorcraft' 'Globe' 'Embraer'
 'Consolidated Aeronautics Inc.' 'Mcdonnell Douglas']

Cleaning Tasks Identified:

1) Handle Missing Values
   - Fill missing Make values with 'Unknown'
   - Preserve records for analysis rather than dropping

2) Standardize Case and Formatting
   - Convert all makes to title case for consistency
   - Remove leading/trailing whitespace
   - Standardize common abbreviations

3) Consolidate Similar Makes
   - Merge case variations (e.g., 'BOEING' vs 'Boeing')
   - Handle common misspellings or variations
   - Standardize manufacturer names

4) Filter by Frequency Threshold
   - Keep only makes with 50+ occurrences
   - Group remaining makes as 'Other' for analysis focus

5) Data Validation
   - Check for unrealistic or invalid entries
   - Verify manufacturer names against known aircraft makers

In [106]:
# Task 1: Handle missing values
print(f"Missing values before cleaning: {df['Make'].isnull().sum()}")
df['Make'] = df['Make'].fillna('Unknown')
print(f"Missing values after cleaning: {df['Make'].isnull().sum()}")

Missing values before cleaning: 3
Missing values after cleaning: 0

In [107]:
# Task 2: Standardize formatting
# Remove whitespace and convert to title case
df['Make'] = df['Make'].str.strip().str.title()

In [108]:
# Task 3: Consolidate common variations and standardize names
make_standardization = {
    'Cessna Aircraft Company': 'Cessna',
    'Piper Aircraft Corporation': 'Piper', 
    'Beech Aircraft Corporation': 'Beechcraft',
    'Beech': 'Beechcraft',
    'Air Tractor Inc': 'Air Tractor',
    'Boeing Company': 'Boeing',
    'Airbus Industrie': 'Airbus',
    'Mcdonnell Douglas': 'McDonnell Douglas',
    'Mcdonnell Douglas Corporation': 'McDonnell Douglas',
    'Bell Helicopter Company': 'Bell',
    'Bell Helicopter Textron': 'Bell',
    'Mooney Aircraft Corporation': 'Mooney',
    'Cirrus Design Corp': 'Cirrus'
}

# Apply standardization
for old_name, new_name in make_standardization.items():
    df.loc[df['Make'] == old_name, 'Make'] = new_name

print(f"Unique makes after standardization: {df['Make'].nunique()}")

Unique makes after standardization: 1077

In [109]:
# Task 4: Filter by frequency threshold (50+ occurrences)
make_counts = df['Make'].value_counts()
frequent_makes = make_counts[make_counts >= 50].index.tolist()

print(f"\nMakes with 50+ occurrences: {len(frequent_makes)}")
print("Top makes meeting threshold:")
print(make_counts[make_counts >= 50].head(15))

# Create filtered dataset and group infrequent makes as 'Other'
df['Make_Cleaned'] = df['Make'].apply(lambda x: x if x in frequent_makes else 'Other')

Makes with 50+ occurrences: 34
Top makes meeting threshold:
Make
Cessna         7152
Piper          3997
Beechcraft     1447
Boeing         1271
Air Tractor     425
Mooney          364
Cirrus          357
Airbus          285
Bellanca        219
Maule           215
Aeronca         200
Champion        158
Embraer         153
Grumman         147
Luscombe        141
Name: count, dtype: int64

In [110]:
# Task 5: Final validation
print(f"\nFinal Make_Cleaned statistics:")
print(f"Total unique makes: {df['Make_Cleaned'].nunique()}")
print(f"Records with 'Other': {(df['Make_Cleaned'] == 'Other').sum()}")
print(f"Records with 'Unknown': {(df['Make_Cleaned'] == 'Unknown').sum()}")

print("\nFinal distribution of cleaned makes:")
final_counts = df['Make_Cleaned'].value_counts()
print(final_counts)

print(f"\nCleaning complete. Shape: {df.shape}")
print(f"Make column ready for analysis with {df['Make_Cleaned'].nunique()} categories")

Final Make_Cleaned statistics:
Total unique makes: 35
Records with 'Other': 3456
Records with 'Unknown': 0

Final distribution of cleaned makes:
Make_Cleaned
Cessna                            7152
Piper                             3997
Other                             3456
Beechcraft                        1447
Boeing                            1271
Air Tractor                        425
Mooney                             364
Cirrus                             357
Airbus                             285
Bellanca                           219
Maule                              215
Aeronca                            200
Champion                           158
Embraer                            153
Grumman                            147
Luscombe                           141
Stinson                            129
McDonnell Douglas                  109
North American                     106
Dehavilland                         95
Taylorcraft                         93
Aero Commander                      90
Aviat Aircraft Inc                  76
Socata                              75
Diamond Aircraft Ind Inc            74
De Havilland                        72
Aviat                               70
Bombardier Inc                      65
Raytheon Aircraft Company           62
Grumman Acft Eng Cor-Schweizer      58
Rockwell International              58
Ayres                               55
Ercoupe                             52
American Champion Aircraft          52
Bombardier                          50
Name: count, dtype: int64

Cleaning complete. Shape: (21428, 35)
Make column ready for analysis with 35 categories

### Inspect Model column
- Get rid of any NaNs.
- Inspect the column and counts for each model/make. Are model labels unique to each make?
- If not, create a derived column that is a unique identifier for a given plane type.

In [111]:
# Inspect Model column
print(df['Model'].head())
# Check for missing values
print(f"Missing values in Model column: {df['Model'].isnull().sum()}")
# Fill missing values with 'Unknown'
df['Model'] = df['Model'].fillna('Unknown')
print(f"Missing values in Model column after filling: {df['Model'].isnull().sum()}")
# Check unique values and counts
print(f"Unique models: {df['Model'].nunique()}")
print("Top 20 models by count:")
print(df['Model'].value_counts().head(20))

11898                  152
12384                 LA-4
12683                  441
13114                  208
14259    L-402-2 (LASA-60)
Name: Model, dtype: object
Missing values in Model column: 18
Missing values in Model column after filling: 0
Unique models: 3550
Top 20 models by count:
Model
172          772
737          403
152          317
182          304
172S         278
PA28         273
SR22         265
172N         250
180          213
A36          189
172M         180
PA-18-150    180
150          179
PA-28-140    168
172P         143
140          117
172R         110
170B         107
PA-28-161    106
PA-28-180    105
Name: count, dtype: int64

In [112]:
#insepect model/make combination
print("Model/Make combinations:")
models_per_make = df.groupby('Make_Cleaned')['Model'].nunique().sort_values(ascending=False)
print("Number of unique models per manufacturer:")
print(models_per_make.head(15))

# Count records per make/model combination
make_model_counts = df.groupby(['Make_Cleaned', 'Model']).size().sort_values(ascending=False)
print(f"\nTotal unique Make/Model combinations: {len(make_model_counts)}")
print("\nTop 20 Make/Model combinations by frequency:")
print(make_model_counts.head(20))

Model/Make combinations:
Number of unique models per manufacturer:
Make_Cleaned
Other                1728
Cessna                406
Piper                 367
Boeing                284
Beechcraft            229
Airbus                 74
Maule                  68
Embraer                66
Air Tractor            51
North American         50
McDonnell Douglas      46
Grumman                41
Aero Commander         37
Dehavilland            37
Bellanca               36
Name: Model, dtype: int64

Total unique Make/Model combinations: 3907

Top 20 Make/Model combinations by frequency:
Make_Cleaned  Model
Cessna        172          769
Boeing        737          403
Cessna        152          317
              182          304
              172S         276
Piper         PA28         273
Cessna        172N         249
Cirrus        SR22         240
Cessna        180          213
              172M         180
              150          179
Piper         PA-18-150    174
              PA-28-140    168
Beechcraft    A36          165
Cessna        172P         143
              140          116
              172R         110
              170B         107
Piper         PA-28-180    105
              PA-28-161    102
dtype: int64

In [113]:
#create unique plane type identifier
print("CREATING UNIQUE PLANE TYPE IDENTIFIER")
# Create unique identifier combining Make and Model
df['Plane_Type'] = df['Make_Cleaned'] + '_' + df['Model']

# Clean up the identifier (remove special characters, normalize spacing)
df['Plane_Type'] = df['Plane_Type'].str.replace(r'[^\w\s-]', '', regex=True)  # Remove special chars except hyphens
df['Plane_Type'] = df['Plane_Type'].str.replace(r'\s+', '_', regex=True)       # Replace spaces with underscores
df['Plane_Type'] = df['Plane_Type'].str.replace(r'_+', '_', regex=True)        # Remove multiple underscores

print(f"Created unique Plane_Type identifiers: {df['Plane_Type'].nunique()}")

# Verify uniqueness
plane_type_counts = df['Plane_Type'].value_counts()
print(f"\nTop 15 most common plane types:")
print(plane_type_counts.head(15))

CREATING UNIQUE PLANE TYPE IDENTIFIER
Created unique Plane_Type identifiers: 3904

Top 15 most common plane types:
Plane_Type
Cessna_172         769
Boeing_737         403
Cessna_152         317
Cessna_182         304
Cessna_172S        276
Piper_PA28         273
Cessna_172N        249
Cirrus_SR22        240
Cessna_180         213
Cessna_172M        180
Cessna_150         179
Piper_PA-18-150    174
Piper_PA-28-140    168
Beechcraft_A36     165
Cessna_172P        143
Name: count, dtype: int64

In [114]:
#validation and summary
print("VALIDATION AND SUMMARY")

# Check if our new identifier resolves the uniqueness issue
print("Verification of unique identifiers:")
print(f"- Original Models: {df['Model'].nunique()}")
print(f"- Unique Make/Model combinations: {len(make_model_counts)}")
print(f"- New Plane_Type identifiers: {df['Plane_Type'].nunique()}")

# Show some examples of the transformation
print(f"\nExample transformations:")
sample_data = df[['Make_Cleaned', 'Model', 'Plane_Type']].drop_duplicates().head(10)
for _, row in sample_data.iterrows():
    print(f"  {row['Make_Cleaned']} + {row['Model']} → {row['Plane_Type']}")

# Check for any remaining issues
print(f"\nFinal data quality check:")
print(f"- Records with Unknown Make: {(df['Make_Cleaned'] == 'Unknown').sum()}")
print(f"- Records with Unknown Model: {(df['Model'] == 'Unknown').sum()}")
print(f"- Records with Unknown Plane_Type: {df['Plane_Type'].str.contains('Unknown').sum()}")

# Most frequent plane types for analysis
frequent_plane_types = plane_type_counts[plane_type_counts >= 20]  # Threshold for analysis
print(f"\nPlane types with 20+ incidents (suitable for analysis): {len(frequent_plane_types)}")
print("Top 10:")
print(frequent_plane_types.head(10))

print(f"\nModel column inspection complete. Dataset shape: {df.shape}")
print(f"Ready for analysis with unique Plane_Type identifiers.")

VALIDATION AND SUMMARY
Verification of unique identifiers:
- Original Models: 3550
- Unique Make/Model combinations: 3907
- New Plane_Type identifiers: 3904

Example transformations:
  Cessna + 152 → Cessna_152
  Other + LA-4 → Other_LA-4
  Cessna + 441 → Cessna_441
  Cessna + 208 → Cessna_208
  Other + L-402-2 (LASA-60) → Other_L-402-2_LASA-60
  Piper + PA-23-250 → Piper_PA-23-250
  Grumman + G164A → Grumman_G164A
  Cessna + TU206F → Cessna_TU206F
  Grumman + F-14A → Grumman_F-14A
  Other + DC-9-31 → Other_DC-9-31

Final data quality check:
- Records with Unknown Make: 0
- Records with Unknown Model: 18
- Records with Unknown Plane_Type: 18

Plane types with 20+ incidents (suitable for analysis): 216
Top 10:
Plane_Type
Cessna_172     769
Boeing_737     403
Cessna_152     317
Cessna_182     304
Cessna_172S    276
Piper_PA28     273
Cessna_172N    249
Cirrus_SR22    240
Cessna_180     213
Cessna_172M    180
Name: count, dtype: int64

Model column inspection complete. Dataset shape: (21428, 36)
Ready for analysis with unique Plane_Type identifiers.

### Cleaning other columns
- there are other columns containing data that might be related to the outcome of an accident. We list a few here:
- Engine.Type
- Weather.Condition
- Number.of.Engines
- Purpose.of.flight
- Broad.phase.of.flight

Inspect and identify potential cleaning tasks in each of the above columns. Execute those cleaning tasks. 

**Note**: You do not necessarily need to impute or drop NaNs here.

In [115]:
#engine.type column inspection
print("Engine.Type column basic info:")
print(f"Missing values: {df['Engine.Type'].isnull().sum()}")
print(f"Unique values: {df['Engine.Type'].nunique()}")
print("\nValue counts:")
print(df['Engine.Type'].value_counts())

print("\nSample values:")
print(df['Engine.Type'].dropna().unique()[:15])

# CLEANING TASKS FOR ENGINE.TYPE
print("\nCleaning tasks identified:")
print("- Standardize case and remove extra whitespace")
print("- Group rare engine types (< 10 occurrences)")

# Execute cleaning
df['Engine.Type'] = df['Engine.Type'].str.strip().str.title()

# Group rare categories
engine_counts = df['Engine.Type'].value_counts()
rare_engines = engine_counts[engine_counts < 10].index
df['Engine.Type'] = df['Engine.Type'].replace(rare_engines, 'Other')

print(f"\nAfter cleaning - Unique values: {df['Engine.Type'].nunique()}")
print("Cleaned value counts:")
print(df['Engine.Type'].value_counts())

Engine.Type column basic info:
Missing values: 3956
Unique values: 9

Value counts:
Engine.Type
Reciprocating      15005
Turbo Prop          1247
Turbo Fan            924
Unknown              134
Turbo Jet            133
Geared Turbofan       12
Turbo Shaft           11
Electric               5
UNK                    1
Name: count, dtype: int64

Sample values:
['Reciprocating' 'Turbo Prop' 'Turbo Jet' 'Turbo Fan' 'Unknown'
 'Turbo Shaft' 'Electric' 'Geared Turbofan' 'UNK']

Cleaning tasks identified:
- Standardize case and remove extra whitespace
- Group rare engine types (< 10 occurrences)

After cleaning - Unique values: 8
Cleaned value counts:
Engine.Type
Reciprocating      15005
Turbo Prop          1247
Turbo Fan            924
Unknown              134
Turbo Jet            133
Geared Turbofan       12
Turbo Shaft           11
Other                  6
Name: count, dtype: int64

In [116]:
#weather.conditions column inspection
print("\nWeather.Conditions column basic info:")

print(f"Missing values: {df['Weather.Condition'].isnull().sum()}")
print(f"Unique values: {df['Weather.Condition'].nunique()}")
print("\nValue counts:")
print(df['Weather.Condition'].value_counts())

print("\nSample values:")
print(df['Weather.Condition'].dropna().unique()[:10])

# CLEANING TASKS FOR WEATHER.CONDITION
print("\nCleaning tasks identified:")
print("- Standardize case formatting")
print("- Check for placeholder values")
print("- Group rare weather conditions")

# Execute cleaning
df['Weather.Condition'] = df['Weather.Condition'].str.strip().str.title()

# Check for potential placeholder values
print("\nChecking for potential placeholders:")
placeholder_patterns = ['Unk', 'N/A', 'Unknown', 'Not', 'Unavailable', '']
for pattern in placeholder_patterns:
    mask = df['Weather.Condition'].str.contains(pattern, case=False, na=False)
    if mask.any():
        print(f"Found potential placeholders with '{pattern}': {mask.sum()}")

# Group rare categories (< 15 occurrences for weather)
weather_counts = df['Weather.Condition'].value_counts()
rare_weather = weather_counts[weather_counts < 15].index
df['Weather.Condition'] = df['Weather.Condition'].replace(rare_weather, 'Other')

print(f"\nAfter cleaning - Unique values: {df['Weather.Condition'].nunique()}")
print("Cleaned value counts:")
print(df['Weather.Condition'].value_counts())

Weather.Conditions column basic info:
Missing values: 2979
Unique values: 4

Value counts:
Weather.Condition
VMC    17072
IMC     1067
Unk      215
UNK       95
Name: count, dtype: int64

Sample values:
['VMC' 'UNK' 'IMC' 'Unk']

Cleaning tasks identified:
- Standardize case formatting
- Check for placeholder values
- Group rare weather conditions

Checking for potential placeholders:
Found potential placeholders with 'Unk': 310
Found potential placeholders with '': 18449

After cleaning - Unique values: 3
Cleaned value counts:
Weather.Condition
Vmc    17072
Imc     1067
Unk      310
Name: count, dtype: int64

In [117]:
#number.of.engines column inspection
print("\nNumber.Of.Engines column basic info:")
print(f"Missing values: {df['Number.of.Engines'].isnull().sum()}")
print(f"Data type: {df['Number.of.Engines'].dtype}")
print("\nValue counts:")
print(df['Number.of.Engines'].value_counts().sort_index())

print(f"\nDescriptive statistics:")
print(df['Number.of.Engines'].describe())

# Check for unrealistic values
print("\nChecking for unrealistic values:")
unrealistic_engines = df['Number.of.Engines'] > 10  # Most aircraft have <= 4 engines
print(f"Aircraft with >10 engines: {unrealistic_engines.sum()}")
if unrealistic_engines.any():
    print("Examples:")
    print(df[unrealistic_engines][['Make_Cleaned', 'Model', 'Number.of.Engines']].head())

# Check for zero or negative values
zero_negative = df['Number.of.Engines'] <= 0
print(f"Aircraft with ≤0 engines: {zero_negative.sum()}")

# CLEANING TASKS FOR NUMBER.OF.ENGINES
print("\nCleaning tasks identified:")
print("- Cap unrealistic values (>10 engines)")
print("- Handle zero/negative values")

# Execute cleaning
# Cap unrealistic values - most commercial aircraft have max 4 engines, military/cargo max ~8
df['Number.of.Engines'] = df['Number.of.Engines'].clip(upper=8)

# Convert zero/negative to NaN (likely data entry errors)
df.loc[df['Number.of.Engines'] <= 0, 'Number.of.Engines'] = np.nan

print(f"\nAfter cleaning:")
print("Value counts:")
print(df['Number.of.Engines'].value_counts().sort_index())

Number.Of.Engines column basic info:
Missing values: 2551
Data type: float64

Value counts:
Number.of.Engines
0.0        9
1.0    15735
2.0     3003
3.0       36
4.0       92
6.0        1
8.0        1
Name: count, dtype: int64

Descriptive statistics:
count    18877.000000
mean         1.177677
std          0.428266
min          0.000000
25%          1.000000
50%          1.000000
75%          1.000000
max          8.000000
Name: Number.of.Engines, dtype: float64

Checking for unrealistic values:
Aircraft with >10 engines: 0
Aircraft with ≤0 engines: 9

Cleaning tasks identified:
- Cap unrealistic values (>10 engines)
- Handle zero/negative values

After cleaning:
Value counts:
Number.of.Engines
1.0    15735
2.0     3003
3.0       36
4.0       92
6.0        1
8.0        1
Name: count, dtype: int64

### Column Removal
- inspect the dataframe and drop any columns that have too many NaNs

In [118]:
'''# Inspect the dataframe for columns with NaNs
print("\nInspecting columns for NaNs:")
nan_counts = df.isnull().sum()
print(nan_counts[nan_counts > 0])

# Identify columns with more than 20,000 non-null values
non_null_counts = df.notnull().sum()
print("\nColumns with more than 20,000 non-null values:")
valid_columns = non_null_counts[non_null_counts > 20000]
print(valid_columns)
# Drop columns with too many NaNs (less than 20,000 non-nulls)
columns_to_drop = nan_counts[nan_counts > (len(df) - 20000)].index.tolist()
print(f"\nColumns to drop (less than 20,000 non-nulls): {columns_to_drop}")
df.drop(columns=columns_to_drop, inplace=True)'''


# First, inspect the dataframe to see null counts
print("Null counts per column:")
print(df.isnull().sum())

# Get columns with more than 20,000 non-null values
columns_to_keep = df.columns[df.count() > 20000]

# Filter the dataframe
df_cleaned = df[columns_to_keep]

# Verify the result
print(f"\nOriginal shape: {df.shape}")
print(f"Cleaned shape: {df_cleaned.shape}")
print(f"Columns removed: {set(df.columns) - set(df_cleaned.columns)}")

Null counts per column:
Event.Id                      0
Investigation.Type            0
Accident.Number               0
Event.Date                    0
Location                      6
Country                       1
Latitude                   2259
Longitude                  2265
Airport.Code               7457
Airport.Name               7370
Injury.Severity             813
Aircraft.damage               0
Aircraft.Category             0
Registration.Number         206
Make                          0
Model                         0
Amateur.Built                 0
Number.of.Engines          2560
Engine.Type                3956
FAR.Description             480
Schedule                  18916
Purpose.of.flight          3679
Air.carrier               11269
Total.Fatal.Injuries          0
Total.Serious.Injuries        0
Total.Minor.Injuries          0
Total.Uninjured               0
Weather.Condition          2979
Broad.phase.of.flight     18619
Report.Status              4663
Publication.Date            957
Total.Passengers              0
Serious_Fatal_Rate            0
Aircraft_Destroyed            0
Make_Cleaned                  0
Plane_Type                    0
dtype: int64

Original shape: (21428, 36)
Cleaned shape: (21428, 24)
Columns removed: {'Schedule', 'Air.carrier', 'Number.of.Engines', 'Weather.Condition', 'Broad.phase.of.flight', 'Airport.Code', 'Airport.Name', 'Latitude', 'Report.Status', 'Longitude', 'Engine.Type', 'Purpose.of.flight'}

### Save DataFrame to csv
- its generally useful to save data to file/server after its in a sufficiently cleaned or intermediate state
- the data can then be loaded directly in another notebook for further analysis
- this helps keep your notebooks and workflow readable, clean and modularized

In [119]:
# Save the cleaned dataset
df_cleaned.to_csv('/Users/karinaburgos/Documents/Flatiron/dsc-course0-m8-lab/data/AviationData_Cleaned.csv', index=False)